<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e740067d1c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/admin.css">
    <title>ADMIN</title>
</head>
<body>
  <!--   <div class="admin-area">
        <div class="login-area">
            <h1 class="main-title">로그인</h1> 
            <form method="post" action="/admin">
	            <div class="username">
	                <i class="fa-solid fa-user"></i>
	                <input class="admin-input" type="text" placeholder="username">
	            </div>
	            <div class="password">
	                <i class="fa-solid fa-lock"></i>
	                <input class="admin-input" type="password" placeholder="password">
	            </div>
	            <div class="btn">
	                <button type="button" class="sigin-up-btn">회원가입</button>
	                <button type="submit" class="login-btn">로그인</button>
	            </div>          
            </form> 
        </div>
         -->
        <div class="admin-area">
	        <div class="login-area">
		        <h1 class="main-title">로그인</h1>
		        <form method="post" action="/admin">
				<label><i class="fa-solid fa-user"></i></label>
				<input name="username" class="admin-input"><br>
				<label><i class="fa-solid fa-lock"></i></label>
				<input type="password" name="password" class="admin-input"><br>
	 	
                <button type="button" class="sigin-up-btn">회원가입</button>
                <button type="submit" class="login-btn">로그인</button>
	</form>
	</div>
	</div>

        <div class="siginup-area visible">
            <h1 class="main-title">회원가입</h1> 
            <div class="name">
                <i class="fa-solid fa-user"></i>
                <input class="admin-input" type="text" placeholder="name">
            </div>
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <input class="admin-input" type="text" placeholder="email">
            </div>
            <div class="username">
                <i class="fa-solid fa-user"></i>
                <input class="admin-input" type="text" placeholder="username">
            </div>
            <div class="password">
                <i class="fa-solid fa-lock"></i>
                <input class="admin-input" type="password" placeholder="password">
            </div>
            <div class="btn">
                <button type="button" class="siginup-btn">완료</button>
                <button type="button"  class="cancel-btn">취소</button>
            </div>
        </div>
        
    </div>
    <script type="text/javascript" src="/static/js/signin.js"></script>
</body>

</html>