<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e740067d1c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/admin.css">
    <title>INDEX</title>
</head>
<body>
    <div class="admin-area">
        <img src="/static/imags/please be patient.png">
    </div>
    <script type="text/javascript" src="/static/js/signin.js"></script>
</body>

</html>